/* All elements */
* {
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
	color: var(--white);
	margin: 0 auto;
	padding: 0;
}

/* Root selector -> Variables definition */
:root {
	/* Color variables definition */
	--black: #232323;
	--white: #ccc;
	--gray: #525252;
	--light-gray: #7f7f7f;
	/* Color scheme main colors */
	--purple: #2a183f;
	--orange: #ff6b00;
}

/* Selection color scheme */
::selection {
	background-color: var(--orange);
	color: var(--black);
}

::-moz-selection {
	/* Code for Firefox */
	background-color: var(--orange);
	color: var(--black);
}

/* BODY -*/
body {
	background-image: linear-gradient(var(--black), var(--purple));
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
/*- BODY */

/* HEADER -*/
header {
	position: absolute;
	position: fixed;

	top: 0;
	left: 0;
	height: 10vh;
	width: 100%;
	z-index: 2;
}

/* Hamburger menu -*/
#hamburger-container {
	background-color: transparent;
	border: none;
	cursor: pointer;

	position: absolute;
	top: 50%;
	left: 3em;
	transform: translate(0, -50%);

	display: flex;
	justify-content: center;
	align-items: center;
}

#hamburger-container i {
	font-size: 50px;
	color: var(--light-gray);
	cursor: pointer;

	transition: 0.25s;
}

#hamburger-container i:hover {
	font-weight: bolder;
	color: inherit;
}
/*- Hamburger menu */

/* Language selector -*/
#selector {
	position: absolute;
	top: 0;
	right: 0;
	width: 15em;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

#selector select {
	width: 8em;
	height: 3em;
	border-radius: 0.5em;
	border: 0px;
	background-color: var(--gray);

	text-align: center;
	font-size: medium;
	font-weight: 600;

	cursor: pointer;
	transition: 0.15s;
}

#selector select:hover {
	background-color: var(--light-gray);
}
/*- Language selector */
/*- HEADER */

/* ASIDE -*/
aside {
	position: absolute;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	visibility: hidden;

	width: 22.5vw;
	height: 100vh;

	background-color: var(--black);
	transition: all 0.2s;
}

aside .content {
	width: 100%;
	height: 100%;
	position: relative;
}

#close-hamburger {
	background-color: transparent;
	border: none;
	cursor: pointer;

	width: 100%;
	height: auto;
	position: relative;
	z-index: 2;
}

#close-hamburger i {
	position: absolute;
	top: 0;
	right: 0;

	font-size: 50px;
	color: var(--light-gray);
	cursor: pointer;

	transition: 0.25s;
}

#close-hamburger i:hover {
	color: inherit;
}

#items {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: end;
}

.aside-item {
	display: block;
	width: 12.5em;
	padding: 1em;
	margin-top: 1.25em;
	margin-bottom: 1.25em;

	text-decoration: none;
	cursor: pointer;
	color: var(--light-gray);
	font-size: 1.75rem;
	border-radius: 0.5em;
	border: 0.1rem solid transparent;

	transition: 0.25s;
}

.aside-item i {
	float: right;
	color: inherit;
}

.aside-item:hover {
	color: var(--white);
	font-weight: bolder;
	border: 0.1rem solid var(--light-gray);
}

/*- ASIDE */

/* MAIN -*/

/*
	All this configuratin might be not the final one
*/

main {
	position: absolute;
	top: 0;
	width: 100%;
	min-height: 100vh;

	/* Temporary */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

main h1 {
	font-size: 4em;
	margin-bottom: 1em;
}

main p {
	font-size: 1.5em;
	text-align: center;
	margin-bottom: 0.5em;
}

main p:nth-child(3) {
	color: red;
	font-size: 1.75em;
	font-weight: 700;
	margin-top: 5em;
}
/*- MAIN */

/* FOOTER -*/
footer {
	position: absolute;
	bottom: 0;

	width: 100%;
	height: 50px;
}
/*- FOOTER */
