/* All elements */
* {
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
	color: var(--white);
	margin: 0 auto;
	padding: 0;
}

/* Root selector -> Variables definition */
:root {
	/* Color variables definition */
	--black: #232323;
	--black-fade: #232323ee;
	--white: #aaaaaa;
	--gray: #525252;
	--light-gray: #7f7f7f;
	--purple: #2a183f;
	--orange: #ff6b00;
}

::selection {
	background-color: var(--orange);
	color: var(--black);
}

/* 
	BODY 
*/
body {
	background-image: linear-gradient(var(--black), var(--purple));
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/* 
	HEADER 
*/
header {
	position: absolute;
	top: 0;
	left: 0;
	height: 10vh;
	width: 100vw;
}

/* Hamburger menu */
#hamburger-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 8em;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.hamburger {
	width: 4em;
	height: 4em;
	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 5;
}

.hamburger span {
	display: block;
	width: 100%;
	height: 0.5em;
	margin: 0.25em 0;
	border-radius: 0.5em;
	background-color: var(--gray);
	transition: all 0.15s;
	transform-origin: 0px 100%;
}

.hamburger:hover > span {
	background-color: var(--white);
}

.active-line1 {
	transform: rotate(45deg) translate(-0.05em, -0.65em);
	color: var(--white);
}

.active-line2 {
	opacity: 0;
	margin-left: -4em;
}

.active-line3 {
	transform: rotate(-45deg) translate(0.25em, 0.75em);
	color: var(--white);
}

/* Language selector */
#selector {
	position: absolute;
	top: 0;
	right: 0;
	width: 15em;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

#selector select {
	width: 8em;
	height: 3em;
	border-radius: 0.5em;
	border: 0px;
	background-color: var(--gray);

	text-align: center;
	font-size: medium;
	font-weight: 600;

	cursor: pointer;
	transition: 0.15s;
}

#selector select:hover {
	background-color: var(--light-gray);
}

/* ASIDE */
aside {
	position: absolute;
	left: 0;
	translate: -100%;
	z-index: 2;

	width: 20em;
	height: 100vh;
	padding-top: 10vh;
	padding-left: 3vw;

	background-color: var(--black-fade);
	transition: all 0.2s;
}

.aside-active {
	translate: 0%;
}

/* MAIN */
main {
	position: absolute;
	top: 10vh;
	width: 100%;
	height: 85vh;
	/* Temporary */
	display: flex;
	justify-content: center;
	align-items: center;
}

/* FOOTER */
footer {
	position: absolute;
	bottom: 0;
	height: 5vh;
	width: 100%;
	opacity: 0.4;
}
